---
- name: "Set fact with package list"
  ansible.builtin.set_fact:
    yum_installer_packages: "{{ apps }} + {{ cli_apps }}"

- name: "Update Cache"
  ansible.builtin.dnf:
    update_cache: true

- name: "Install packages"
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  with_items: "{{ yum_installer_packages }}"
  become: true
