---
- name: Clone oh-my-zsh repo # noqa: latest
  ansible.builtin.git:
    repo: https://github.com/robbyrussell/oh-my-zsh.git
    dest: "{{ ansible_facts['env']['HOME'] }}/.oh-my-zsh"

- name: Add my ohmyansible.builtin.shell theme
  ansible.builtin.copy:
    src: nanda.zsh-theme
    dest: "{{ ansible_facts['env']['HOME'] }}/.oh-my-zsh/themes/nanda.zsh-theme"
    mode: "0640"
    owner: "{{ lookup('env', 'USER') }}"

- name: Install powerlevel10k theme # noqa: latest
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    depth: 1
    dest: "{{ ansible_facts['env']['HOME'] }}/.oh-my-zsh/themes/powerlevel10k"


- name: Adds zsh file
  ansible.builtin.copy:
    src: zshrc
    dest: "{{ ansible_facts['env']['HOME'] }}/.zshrc"
    mode: "0640"
    owner: "{{ lookup('env', 'USER') }}"

- name: Adds p10k file
  ansible.builtin.copy:
    src: p10k
    dest: "{{ ansible_facts['env']['HOME'] }}/.p10k.zsh"
    mode: "0640"
    owner: "{{ lookup('env', 'USER') }}"

- name: "Set zsh as default shell"
  ansible.builtin.user:
    name: "{{ lookup('env', 'USER') }}"
    shell: /bin/zsh

- name: "Creates config folder"
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/yamllint"
    state: directory
    mode: "0744"

- name: "Adds yamllint config"
  ansible.builtin.copy:
    src: yamllint-config
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/yamllint/config"
    mode: "0644"
    owner: "{{ lookup('env', 'USER') }}"
