[user]
  email = flmmartins@gmail.com
  name = Fernanda Martins
[color]
  ui = auto
  diff = auto
[core]
  excludesfile = /home/flmmartins/.gitignore_global
  editor = vim
[color "diff"]
  old = red
  new = green
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%C(bold blue) %s %Cgreen(%cr) %C(bold blue)<%an> %Creset' --abbrev-commit
  p = git pull --rebase
[color "decorate"]
  HEAD = green
  branch = cyan
  remoteBranch = red
