# Dropbox was removed due to user limit
- name: Provision Machine
  hosts: all
  vars:
    cli_apps:
    - curl
    - git
    - zsh
    - openssl
    - azure-cli
    - azcopy
    - awscli
    - aws-vault
    - packer
    - terraform-docs
    - terraform_landscape
    - tfswitch
    - kubernetes-cli
    - kubernetes-helm
    - kubectl
    - k9s
    - kubectx
    - kube-ps1
    - minikube
    - kind
    - go
    - wget
    - ag
    - jq
    - yq
    - yamllint
    - colima
    - opencode

    apps:
    - google-chrome
    - brave-browser
    - 1password
    - caffeine
    - microsoft-remote-desktop
    - macdown
    - slack
    - spotify
    - visual-studio-code
    - firefox
    - docker
    - notion
    - vagrant
    - mongodb-compass
    - dbeaver-community
    - iterm2

  tasks:
    - name: "Import Base"
      ansible.builtin.import_role:
        name: base
      tags: ['packages']

    - name: "Import shell"
      ansible.builtin.import_role:
        name: shell
      tags: ['shell']

    - name: "Import yamllint"
      ansible.builtin.import_role:
        name: yamllint
      tags: ['yamllint']

    - name: "Import AI"
      ansible.builtin.import_role:
        name: ai
      tags: ['ai']

    - name: "Import SSH"
      ansible.builtin.import_role:
        name: ssh
      tags: ['ssh']

    - name: "Import Git"
      ansible.builtin.import_role:
        name: git
      tags: ['git']

    - name: "Import VIM"
      ansible.builtin.import_role:
        name: vim
      tags: ['vim']

    - name: "Install pyenv"
      ansible.builtin.import_role:
        name: pyenv
      tags: ['pyenv']

#    - name: "Import Java"
#      import_role:
#        name: java
#      tags: ['java']

#    - name: "Import NodeJS"
#      import_role:
#        name: nodejs
#      tags: ['nodejs']
