---
- name: Install nvm
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/{{ nodejs_nvm_version }}/install.sh | bash
  args:
    creates: "{{ ansible_facts['env']['HOME'] }}/.nvm/nvm.sh"

- name: "Install node version {{ nodejs_version }}"
  ansible.builtin.shell: "source {{ ansible_facts['env']['HOME'] }}/.zshrc && nvm install {{ item }}"
  args:
    executable: /bin/zsh
    creates: "{{ ansible_facts['env']['HOME'] }}/.nvm/versions/node/{{ item }}"
  loop: "{{ nodejs_version }}"

- name: "Set node default version to {{ nodejs_default_version }}"
  ansible.builtin.shell: "source {{ ansible_facts['env']['HOME'] }}/.zshrc && nvm alias default {{ nodejs_default_version }}"
  args:
    executable: /bin/zsh
  changed_when: true

- name: "Checking node version"
  ansible.builtin.shell: "source {{ ansible_facts['env']['HOME'] }}/.zshrc && nvm current"
  args:
    executable: /bin/zsh
  register: nodejs_current_version
  changed_when: true

- name: "Show node version"
  ansible.builtin.debug:
    msg: "Current node version is {{ nodejs_current_version.stdout }}"
