---
- name: "Set fact with package list"
  ansible.builtin.set_fact:
    apt_installer_packages: "{{ apps }} + {{ cli_apps }}"

- name: "Update cache"
  ansible.builtin.apt:
    update_cache: true
  become: true

- name: "Install packages"
  ansible.builtin.apt:
    state: present
    name: "{{ item }}"
  with_items: "{{ apt_installer_packages }}"
  become: true
