Host github.com
  Hostname github.com
  IdentityFile {{ github_key_path }}
  User git

Host *
  PreferredAuthentications publickey
  ForwardAgent yes
  AddKeysToAgent yes
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  LogLevel=quiet
