---
- name: "Adds git config file"
  ansible.builtin.copy:
    src: gitconfig
    dest: "{{ ansible_facts['env']['HOME'] }}/.gitconfig"
    mode: "0640"
    owner: "{{ lookup('env', 'USER') }}"

- name: "Creates work folder"
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/work"
    state: directory
    mode: "0740"
    owner: "{{ lookup('env', 'USER') }}"

- name: "Creates personal folder"
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/personal"
    state: directory
    mode: "0740"
    owner: "{{ lookup('env', 'USER') }}"

- name: "Adds git config personal file"
  ansible.builtin.copy:
    src: gitconfig_personal
    dest: "{{ ansible_facts['env']['HOME'] }}/personal/.gitconfig"
    mode: "0640"
    owner: "{{ lookup('env', 'USER') }}"

- name: "Add git hooks"
  ansible.builtin.copy:
    src: git-templates
    dest: "{{ ansible_facts['env']['HOME'] }}/personal/.git-templates/"
    mode: "0755"
    owner: "{{ lookup('env', 'USER') }}"
