---
- name: "Install pyenv if Mac"
  community.general.homebrew:
    name: "{{ pyenv_packages }}"
    state: present
  when: ansible_facts['os_family'] == "Darwin"

- name: "Install pyenv if Debian"
  ansible.builtin.apt:
    name: "{{ pyenv_packages }}"
    state: present
  become: true
  when: ansible_facts['os_family'] == "Debian"

- name: "Install pyenv if Centos"
  ansible.builtin.dnf:
    name: "{{ pyenv_packages }}"
    state: present
  become: true
  when: ansible_facts['os_family'] == "CentOS"

- name: "Install python version"
  ansible.builtin.shell: "source {{ ansible_facts['env']['HOME'] }}/.zshrc && pyenv install {{ item }}"
  args:
    executable: /bin/zsh
    creates: "{{ ansible_facts['env']['HOME'] }}/.pyenv/versions/{{ item }}"
  loop: "{{ pyenv_python_versions }}"

- name: "Set default version of python"
  ansible.builtin.shell: "source {{ ansible_facts['env']['HOME'] }}/.zshrc && pyenv global  {{ pyenv_python_default_version }}"
  args:
    executable: /bin/zsh
  changed_when: true

- name: "Checking python version"
  ansible.builtin.shell: "pyenv version"
  args:
    executable: /bin/zsh
  register: pyenv_python_current_version
  changed_when: true

- name: "Show python version"
  ansible.builtin.debug:
    msg: "Current python version is {{ pyenv_python_current_version.stdout }}"
