---
- name: Is Mac OS?
  ansible.builtin.import_role:
    name: homebrew
  when: ansible_facts['os_family'] == "Darwin"

- name: Is Debian?
  ansible.builtin.import_role:
    name: apt_installer
  when: ansible_facts['os_family'] == "Debian"

- name: Is CentOS?
  ansible.builtin.import_role:
    name: yum_installer
  when: ansible_facts['os_family'] == "CentOS"
